body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@media (min-width: 1600px) {
	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl,
	.container-xxl {
		max-width: 1500px !important;
	}
}

.app-container {
	.header-container {
		.navbar-nav {
			z-index: 10;

			.nav-link {
				&.active {
					color: red;
				}
			}
		}
	}
}

.app-container {
	.header-container {
		.navbar-nav {
			.btn {
				border-radius: 5px;
				padding: 0 15px;
				height: 40px;
				&.btn-login {
					border-color: white;
					&:hover {
						color: purple;
						font-weight: bold;
					}
				}
				&.btn-signup {
					background-color: rgb(48, 47, 47);
					color: whitesmoke;
					&:hover {
						border-radius: 10px;
						background-color: rgb(153, 149, 149);
					}
				}
			}
		}
	}
	.homepage-container {
		.homepage-content {
			position: relative;
			padding: 100px;
			width: 50%;
			display: flex;
			flex-direction: column;
			gap: 50px;
			.title-header {
				font-size: 50px;
				font-weight: 600;
			}

			.title-content {
				font-size: 35px;
			}

			.title-start {
				button {
					border-radius: 6px;
					height: 40px;
					background: #303030;
					color: white;
					padding: 0 15px;
					&:hover {
						background: black;
					}
				}
			}
		}
	}
}

video {
	width: 100vw;
	position: fixed;
	bottom: 0;
}
